.nav {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  list-style: none;
  position: relative;
  display: inline-table;
}

.nav__item {
  padding: 0 10px;
  text-align: center;
  float: left;
}

.nav__item:hover {
  border-bottom: 5px solid #461959;
  color: #fff;
}

.nav__item a {
  display: block;
  padding: 22px 15px;
  color: #000;
  text-decoration: none;
}

.nav__item a:hover {
  color: #000;
  font-size: 600;
}

/* -----------SUB MENU--------------- */
.nav ul ul {
  display: none;
}
.nav__item:hover > ul {
  display: block;
}

.nav__subitem {
  float: none;
  position: relative;
  left: -10px;
}
.nav__subitem a {
  padding: 20px 40px;
  color: #000;
}
.nav__subitem a:hover {
  color: #461959;
  font-weight: 500;
}

.nav ul ul {
  background-color: #fff;
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
}

.nav ul ul:before {
  content: "";
  display: block;
  height: 20px;
  position: absolute;
  top: -20px;
  width: 100%;
}
