.nav {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  padding: 0 10px;
  text-align: center;
}
